<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Document</title>
</head>

<body>
    <canvas id="myChart" width="400" height="400"></canvas>

    <script>
        const labels = {{ labels | tojson}};

        const data = {
            labels: labels,
            datasets: [{
                label: 'Change in Applicant',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ data | tojson}},
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: { maintainAspectRatio: false }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        setTimeout(function(){
            window.location.reload();
        }, 10000);
    </script>
</body>
</html>
